@model BLL.Category.Category

@{
    ViewData["Title"] = "Delete";
}

<h4 style="text-align:center">Delete</h4>

<h4 style="color:red; text-align:center">Are you sure you want to delete this Category? </h4>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>

    <h5 style="text-align:center">Linked Products</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Products.FirstOrDefault().ProductCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" style="float:right" />
        <a asp-action="Index" class="btn btn-info">Cancel</a>
    </form>
</div>
