@model IEnumerable<BLL.Category.Category>

@{
    ViewData["Title"] = "Index";
}

<h4 style="text-align:center">Category List</h4>

<p>
    <a asp-action="Create" class="btn btn-info">Create</a>
</p>
<table class="table" id ="Datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.CategoryId">
                            Edit
                        </a>
                        <a class="dropdown-item" asp-action="Details" asp-route-id="@item.CategoryId">
                            Details
                        </a>
                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.CategoryId">
                            Delete
                        </a>
                    </div>
                </div>

            </td>
        </tr>
}
    </tbody>
</table>
